$primery-normal: #06121e;
$primery-dark: #040f1a;
$primery-ligh: #0c2135;

$secundary-normal: #090d11;
$secundary-dark: #06090c;
$secundary-ligh: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-ligh: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-ligh: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-ligh: #d34040;
